
  <ng-container *ngIf="!isShow; else elseTemplate">
    <div class="titulo-principal">
      <h1>Historico de Producción</h1>
    </div>
    <div class="busqueda">
      <button class="btn-buscar btn" data-bs-toggle="offcanvas" href="#offcanvas">
        <i class='bx bx-search'></i>
      </button>
    </div>
    <ng-container *ngIf="isLoad; else elseTemplate">

      <div class="content">
        <div class="graficas row">
          <div class="col-sm-6 ps">
            <h3 class="titulo-grafica">Produccion de la Semana #{{semana}}</h3>
            <div class="grafica">
              <canvas baseChart
                [data]="dataD"
                [type]="'bar'"
              >
              </canvas>
            </div>
          </div>
          <div class="col-sm-6 pm">
            <h3 class="titulo-grafica">Produccion del Mes</h3>
            <div class="grafica">
              <canvas baseChart
                [data]="dataS"
                [type]="'bar'"
              >
              </canvas>
            </div>
          </div>
          <div class="col-sm-1"></div>
          <div class="col-sm-10 pa">
            <h3 class="titulo-grafica">Producción Anual</h3>
            <div class="grafica">
              <canvas baseChart
                [data]="dataA"
                [type]="'bar'"
              >
              </canvas>
            </div>
          </div>
          <div class="col-sm-1"></div>
        </div>
        <div class="pie"></div>
      </div>
    </ng-container>
    <ng-template #elseTemplate>
      <div class="text-center cargar">
        <div class="spinner-border spiner" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </ng-template>

    <div class="offcanvas offcanvas-end buscar" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
      <div class="offcanvas-header">
        <button type="button" class="btn-close" aria-label="Close" data-bs-toggle="offcanvas" href="#offcanvas"></button>
        <h2 class="offcanvas-title" id="offcanvasExampleLabel">Buscar por Fecha</h2>
      </div>
      <div class="offcanvas-body">
        <ng-container *ngIf="!isSearch; else elseTemplate">
          <form #fechaForm="ngForm" (ngSubmit)="searchDate(fechaForm.value)">
            <div class="form-floating mb-3">
              <input type="date" id="date" class="form-control" name="date" ngModel>
              <label for="date" >Seleccione una fecha</label>
            </div>
            <input type="submit" value="Buscar" class="form-control form-button">
          </form>
          <br>
          <ng-container *ngIf="!busco; else elseTemplate">

          </ng-container>
          <ng-template #elseTemplate>
            <h2>No Se Encontraron Datos</h2>
          </ng-template>

        </ng-container>
        <ng-template #elseTemplate>
          <div class="text-center cargar">
            <div class="spinner-border spiner" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </ng-template>

      </div>
    </div>
  </ng-container>
  <ng-template #elseTemplate>
    <div class="titulo-principal">

      <div class="busqueda">
        <button class="btn-buscar btn" (click)="regresar()">
          <i class='bx bx-arrow-back'></i>
        </button>
        <button class="btn-buscar btn" (click)="downloadPDF()">
          <i class='bx bxs-file-pdf'></i>
        </button>
      </div>
      <h1 class="titulo-fecha">Produccion de {{fecha}}</h1>
      <div class="content">
        <div class="graficas row">
          <div class="col-sm-1"></div>
          <div class="col-sm-10 ps">
            <h3 class="titulo-grafica">Produccion del Dia</h3>
            <div class="grafica">
              <canvas baseChart id="grafica-buscar"
                [data]="dataB"
                [type]="'bar'"
              >
              </canvas>
            </div>
          </div>
          <div class="col-sm-1"></div>
        </div>
      </div>
    </div>
  </ng-template>
<div class="pie"></div>
