

.table-container{
  z-index: 1;
  padding: 0 10%;
  margin: 40px auto 0;
}

.heading{
  font-size: 40;
  text-align: center;
  margin: 40px;
  z-index: 1;
}

.tabla-maquinas{
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
  z-index: 1;
}


.tabla-maquinas .tabla-head{
  width: 100%;
  background: linear-gradient(to right, var(--blue), var(--green));
  font-size: 15px;
  z-index: 1;

}

.tabla-maquinas .tabla-head td{
  padding: 5px;
  font-weight: 500;
  font-style: oblique;
  z-index: 1;
}




.tabla-maquinas .tabla-head .more{
  width: 50px;
  z-index: 1;
}

.body-tabla{
  color: black;
  font-size: 15px;
  font-weight: 400;
  padding: 1em;
  background: rgb(233, 233, 233);
  border-bottom: 2px solid white;
}

.body-tabla td{
  padding: 2px;
  border-right: 2px solid white;
}

.body-tabla .td-more{
  font-size: 25px;
}

.body-tabla .td-more a{
  color: var(--blue);
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.body-tabla .td-state-a,
.body-tabla .td-state-i{
  color: white;
  text-transform: uppercase;
}

.body-tabla .td-prod,
.body-tabla .td-prod-p{
  border-right: 0px;
}

.body-tabla .td-state-i{
  background-color: var(--red);
}

.body-tabla .td-state-a{
  background-color: var(--green);
}

.table-process-content{
  padding-top: 10px;
  padding-left: 50px;
  padding-bottom: 10px;
}

@media (max-width: 550px){
  .table-container{
    padding: 10px;
  }

  .table-process-content{
    padding-top: 10px;
    padding-left: 8px;
    padding-bottom: 10px;
  }
}
