
  <h1 class="text-center">Producción del Dia</h1>
  <ng-container *ngIf="isload; else elseTemplate">
   <div class="text-center cargar">
     <div class="spinner-border spiner" role="status">
       <span class="visually-hidden">Loading...</span>
     </div>
   </div>
   </ng-container>
   <ng-template #elseTemplate >
       <div class="actions">
         <button class="btn-refresh btn" type="button" (click)="refreshData()"><i class='bx bx-refresh' ></i></button>
         <button class="btn-refresh btn" type="button" (click)="downloadPDF()" hidden><i class='bx bxs-file-pdf'></i></button>
       </div>
     <div class="row tablas" id="graficas">
       <div class="col-md-6">
         <div class="grafica" id="grafica1">
           <h3 class="titulo-grafica text-center">Producción de Argollas</h3>
           <canvas baseChart id="grafica-argollas"
             [type]="'bar'"
             [legend]="true"
             [datasets]="chartDataA"
             [labels]="chartLabelsA"
             >
           </canvas>
         </div>
         <hr>
       </div>
     </div>
     <div class="row tablas" id="graficas">
      <div class="col-md-6">
        <div class="grafica" id="grafica1">
          <h3 class="titulo-grafica text-center">Producción de Gancho</h3>
          <canvas baseChart id="grafica-gancho"
            [type]="'bar'"
            [legend]="true"
            [datasets]="chartDataG"
            [labels]="chartLabelsG"
            >
          </canvas>
        </div>
        <hr>
      </div>
    </div>
 </ng-template>
