h1{
  padding-top: 25px;
}

.body{
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

.body::after,
.body::before{
  content: '';
  position: fixed;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  z-index: 0;
  filter: blur(150px);
  opacity: 0.5;
}

.body::before{
  background-color: var(--blue);
  left: 0;
  bottom: 0;
  transform: translate(-50%);
}

.body::after{
  background-color: var(--violet);
  right: 0;
  top: 0;
  transform: translate(50%);
}

.rounded-corners {
  border-radius: 50%;
  background-color: #a61e4d;
  color: #efefef;
  border: none;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 4px;
  font-size: 25px;
  margin-left: 15px;
}

.cargar{
  width: 100%;
  height: 80%;
}

.spiner{
  margin-top: 20%;
}
.noData{
  text-align: center;
}
.tablas{
  width: 100%;
  height: 80%;
  padding-top: 20px;
  justify-content: center;
}

.grafica{
  margin-left: 15px;
  margin-top: 20px;
  width: 100%;
  z-index: 0;
}


.actions{
  display: flex;
  justify-content: end;
  padding-right: 15px;
  width: 100%;
}

.actions .btn-refresh{
  color: white;
  border-radius: 50%;
  width: fit-content;
  display: flex;
  width: 35px;
  margin: 5px;
  height: 35px;
  justify-content: center;
  align-items: center;
  background-color: var(--color-buttons);
  z-index: 1;
  cursor: pointer;
}

.titulo-grafica{
  font-size: 18px;
}

.actions button{
  width: min-content;
}

.pie{
  width: 100%;
  margin-top: 50px;
}



@media (max-width: 550px) {
  .grafica{
    margin-top: 20px;
    width: 100%;
  }
}


