<div class="div" *ngIf="!Login()">
  <nav class="sidebar close" #toggle>
    <header>
      <div class="image-text">
        <span class="image">
          <img src="https://media-exp1.licdn.com/dms/image/C4E0BAQFwIzSg_eUCTg/company-logo_200_200/0/1519911544816?e=2147483647&v=beta&t=O-Kbbq0iX9GtgWj9Bf4AanNTSGxEOyqXuMy27xxFnLA">
        </span>
      </div>
    </header>
    <div class="menu-bar">
      <div class="menu">
        <!--<li class="search-box" >
          <i class='bx bx-search-alt icon' (click)="ocultar()"></i>
          <input type="search" placeholder="search">
        </li>-->
        <ul class="menu-links">
          <li class="nav-link">
            <a href="/#/dashboard">
              <i class='bx bx-laptop icon'></i>
            </a>
          </li>
          <li class="nav-link">
            <a href="/#/reports">
              <i class='bx bx-line-chart icon'></i>
            </a>
          </li>
          <li class="nav-link">
            <a href="/#/history">
              <i class='bx bx-calendar icon' ></i>
            </a>
          </li>
          <li class="nav-link">
            <a href="/#/help">
              <i class='bx bx-help-circle icon'></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="bottom-content">
        <li class="">
          <a (click)="logout()">
            <i class='bx bx-log-out icon'></i>
          </a>
        </li>
      </div>
    </div>
  </nav>
</div>


